name: Build, Push and Notify

on:
  push:
    branches: ["dev"]
  pull_request:
    branches: ["main"]
    types: [closed]

jobs:

  # DEV

  build-and-push-dev:
    if: github.ref == 'refs/heads/dev'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -f Dockerfile -t josaphatyoga/fastapi-burncpu:${{ github.sha }}-dev .

      - name: Login to Docker Hub
        run: docker login -u josaphatyoga -p ${{ secrets.DOCKER_TOKEN }}

      - name: Push Docker image
        run: docker push josaphatyoga/fastapi-burncpu:${{ github.sha }}-dev

      - name: Checkout Manifest Repository
        uses: actions/checkout@v4
        with:
          repository: josambrosia/assistx-manifest
          token: ${{ secrets.MANIFEST_REPO_TOKEN }}
          path: manifest-repo

      - name: Update image tag in DEV manifest
        run: |
          sed -i 's/\(image:.*:\).*/\1'${{ github.sha }}'-dev/' asssistx-manifest/dev/deployment.yaml

      - name: Commit & Push to Manifest Repo
        run: |
          cd manifest-repo
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add -A
          git commit -m "DEV update: new image tag ${{ github.sha }}-dev" || echo "No changes to commit"
          git push

      # DEPLOY GKE-DEV

      - name: Set up Google Cloud auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT }}
          cluster_name: ${{ secrets.GKE_CLUSTER }}
          location: ${{ secrets.GKE_LOCATION }}

      - name: Deploy DEV manifest to GKE
        run: |
          kubectl apply -f assistx-manifest/dev/

  notify-dev:
    runs-on: ubuntu-latest
    needs: build-and-push-dev
    steps:
      - name: Notify Discord [DEV]
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_URL }}
        run: |
          curl -H "Content-Type: application/json" \
            -d '{"content": "[DEV] Image build & deploy succeeded"}' \
            $DISCORD_WEBHOOK_URL


  # PROD

  build-and-push-prod:
    runs-on: ubuntu-latest

    if: |
      github.ref == 'refs/heads/main' &&
      github.event.pull_request.merged == true

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -f Dockerfile -t josaphatyoga/fastapi-burncpu:${{ github.sha }} .

      - name: Login to Docker Hub
        run: docker login -u josaphatyoga -p ${{ secrets.DOCKER_TOKEN }}

      - name: Push Docker image
        run: docker push josaphatyoga/fastapi-burncpu:${{ github.sha }}

      # ===== Checkout Manifest Repo =====
      - name: Checkout Manifest Repository
        uses: actions/checkout@v4
        with:
          repository: josambrosia/assistx-manifest
          token: ${{ secrets.MANIFEST_REPO_TOKEN }}
          path: manifest-repo

      - name: Update image tag in PROD manifest
        run: |
          sed -i 's/\(image:.*:\).*/\1'${{ github.sha }}'/' asssistx-manifest/prod/deployment.yaml

      - name: Commit & Push to Manifest Repo
        run: |
          cd manifest-repo
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add -A
          git commit -m "PROD update: new image tag ${{ github.sha }}" || echo "No changes to commit"
          git push

      # DEPLOY GKE-PROD
      - name: Set up Google Cloud auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT }}
          cluster_name: ${{ secrets.GKE_CLUSTER }}
          location: ${{ secrets.GKE_LOCATION }}

      - name: Deploy PROD manifest to GKE
        run: |
          kubectl apply -f assistx-manifest/prod/


  notify-prod:
    runs-on: ubuntu-latest
    needs: build-and-push-prod
    steps:
      - name: Notify Discord [PROD]
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_URL }}
        run: |
          curl -H "Content-Type: application/json" \
            -d '{"content": "[PROD] Image deployed to GKE successfully"}' \
            $DISCORD_WEBHOOK_URL
